@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 276 47% 95%;
    --foreground: 270 10% 20%;
    --card: 276 47% 100%;
    --card-foreground: 270 10% 20%;
    --popover: 276 47% 100%;
    --popover-foreground: 270 10% 20%;
    --primary: 270 50% 40%;
    --primary-foreground: 0 0% 98%;
    --secondary: 270 20% 90%;
    --secondary-foreground: 270 10% 20%;
    --muted: 270 20% 92%;
    --muted-foreground: 270 10% 45%;
    --accent: 180 100% 25%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 270 20% 85%;
    --input: 270 20% 97%;
    --ring: 270 50% 40%;
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --radius: 0.5rem;
    --sidebar-background: 270 30% 20%;
    --sidebar-foreground: 270 20% 90%;
    --sidebar-primary: 270 50% 50%;
    --sidebar-primary-foreground: 0 0% 98%;
    --sidebar-accent: 270 40% 30%;
    --sidebar-accent-foreground: 0 0% 98%;
    --sidebar-border: 270 30% 25%;
    --sidebar-ring: 270 50% 50%;
  }

  .dark {
    --background: 270 10% 10%;
    --foreground: 270 20% 90%;
    --card: 270 10% 15%;
    --card-foreground: 270 20% 90%;
    --popover: 270 10% 15%;
    --popover-foreground: 270 20% 90%;
    --primary: 270 50% 60%;
    --primary-foreground: 0 0% 98%;
    --secondary: 270 15% 25%;
    --secondary-foreground: 270 20% 90%;
    --muted: 270 15% 25%;
    --muted-foreground: 270 15% 65%;
    --accent: 180 100% 35%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 270 15% 25%;
    --input: 270 15% 20%;
    --ring: 270 50% 60%;
    --sidebar-background: 270 30% 20%;
    --sidebar-foreground: 270 20% 90%;
    --sidebar-primary: 270 50% 50%;
    --sidebar-primary-foreground: 0 0% 98%;
    --sidebar-accent: 270 40% 30%;
    --sidebar-accent-foreground: 0 0% 98%;
    --sidebar-border: 270 30% 25%;
    --sidebar-ring: 270 50% 50%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground font-body;
  }
}
